<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
</head>
<body>
    <h1>Search for a Movie</h1>

    <form action="/results" method="get">
        <input type="text" name="search" id="title" placeholder="Enter movie title" required>
        <button type="submit">Search Movies!</button>
    </form>
</body>
</html>